*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1;
    font-size: 20px;
    font-weight: 10px;
    background: ;
   

    }



    
.grid-container{
    background:white;
    display: grid;
   
    grid-template-areas: 
    "header header header"
    "header header header"
    "header header header"
    "main main main"
    "main main main"
    "main main main"
   "footer footer footer" 
    "footer footer footer"
    "footer footer footer";
  
    border: 10px solid #F8C471;  
    grid-template-rows:repeat(auto-fill, 1fr);
}

a{
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 25px   ;
}

.grid-item{
    text-align: center;
    

}
.grid-header{
    background:#545251;
    grid-area: header;
    color: white;
    padding: 30px;
    width: 100%;

}

.grid-main{
    background:#F8C471;
    grid-area: main;
    display: inline-block;
    justify-content: center;
    
 }

.grid-footer{
    background:#545251;
    grid-area: footer;
    padding: 20px;
    text-align: center;
    color: white;
}

.form-li{
    display: inline-block;
    

}

a:hover{
    color: #F8C471;
    
}

img{
     width: 100%;
     height: 100%;
   
     
    
}
.galeria-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid: template rows 300px 300px 300px ;
    border-left: 10px solid #F8C471 ;
    border-top: 10px solid #F8C471;
    border-right: 10px solid #F8C471;
    background: #545251;
    padding: 15px;

}

.galeria-1{
    width: 200px;
    height: 200px;
    border-radius: 20%;


}

.galeria-1:active{
    width: 100%;
    height: 500px;
    transition: 2s;
}

.galeria-item{
    border: px solid #F8C471;;
    margin: auto;
    color: white;
    
}

.galeria-h2{
    background:#545251 ;
    margin: 0;
    padding: 30px;
    color: white;

}

.galeria-h2 h2 b:hover{
    color:#F8C471 ;
}

.div-container{
    background: #545251;
    text-align: center;
    border: 10px solid #F8C471;
    
}
.form-container{

    background:#545251;
    display: grid;
    justify-content: center;
   
    
    

    

}
input{
    padding: 30px;
    color: rgb(146, 128, 128);
    width:  100%;
    height: 100%;
    border: 6px solid black;
    color: black;
    
}
textarea{
    width: 100%;
    border: 6px solid black;
    color: black;
}

label{
    color: white;
}
 
h3{
color: white;
padding: 30px;
}



/* quienes somos */
 
